<div class="core-rating-rate-container" [class.core-rating-vote-widget]="canShowRating && isVoteScale">
    @if (canShowRating) {
        @if (isVoteScale) {
            <button type="button" class="core-rating-vote-btn core-rating-vote-up"
                [class.core-rating-vote-active]="rating === upScaleValue" [disabled]="!item!.canrate"
                [attr.aria-pressed]="rating === upScaleValue" [attr.aria-label]="'core.rating.upvote' | translate"
                (click)="vote(upScaleValue)">
                <ion-icon name="fas-caret-up" aria-hidden="true" />
            </button>
        } @else {
            <ion-item class="ion-text-wrap">
                <ion-select class="ion-text-start" [(ngModel)]="rating" (ngModelChange)="userRatingChanged()" interface="action-sheet"
                    [cancelText]="'core.cancel' | translate" [disabled]="!item!.canrate"
                    [interfaceOptions]="{header: 'core.rating.rating' | translate}" [label]="'core.rating.rating' | translate">
                    <ion-select-option *ngFor="let scaleItem of scale!.items"
                        [value]="scaleItem.value">{{ scaleItem.name }}</ion-select-option>
                </ion-select>
            </ion-item>
        }
    }
    <ng-content />
    @if (canShowRating && isVoteScale) {
        <button type="button" class="core-rating-vote-btn core-rating-vote-down"
            [class.core-rating-vote-active]="rating === downScaleValue" [disabled]="!item!.canrate"
            [attr.aria-pressed]="rating === downScaleValue" [attr.aria-label]="'core.rating.downvote' | translate"
            (click)="vote(downScaleValue)">
            <ion-icon name="fas-caret-down" aria-hidden="true" />
        </button>
    }
</div>
