<core-navbar-buttons slot="end" prepend>
    @if (searchEnabled) {
        <ion-button fill="clear" (click)="openSearch()" [ariaLabel]="'core.courses.searchcourses' | translate">
            <ion-icon name="fas-magnifying-glass" slot="icon-only" aria-hidden="true" />
        </ion-button>
    }
</core-navbar-buttons>
<ion-content class="limited-width">
    <ion-refresher slot="fixed" [disabled]="!loaded" (ionRefresh)="doRefresh($event.target)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}" />
    </ion-refresher>

    <core-loading [hideUntil]="loaded">

        <ion-card *ngIf="jumboConfig" class="card-background-page text-center limited-width" (click)="open(jumboConfig.jumbourl)">

            <ion-card-header>
                <core-format-text [text]="jumboConfig.jumbotitle" />

            </ion-card-header>

            <ion-card-content>
                <core-format-text [text]="jumboConfig.jumbodescription" />
            </ion-card-content>
            <video *ngIf="jumboConfig.jumbovideoflag" [src]="jumboConfig.jumbovideo"></video>
            <img *ngIf="!jumboConfig.jumbovideoflag" alt="Silhouette of mountains" [src]="jumboConfig.jumbobannerposter" />
        </ion-card>
        <ion-list class="list-item-limited-width" *ngIf="hasMainBlocks">
            <ng-container *ngFor="let block of blocks">
                <core-block *ngIf="block.visible" [block]="block" contextLevel="course" [instanceId]="siteHomeId" />
            </ng-container>
        </ion-list>

        <core-block-side-blocks-button slot="fixed" *ngIf="hasSideBlocks" contextLevel="user" [instanceId]="siteHomeId" />

        <core-empty-box *ngIf="!hasMainBlocks" icon="fas-cubes" [message]="'core.course.nocontentavailable' | translate" />
    </core-loading>
</ion-content>

<ng-template #allCourseList>
    <ion-card>
        <ion-item button class="ion-text-wrap" (click)="openAvailableCourses()">
            <ion-icon name="fas-graduation-cap" fixed-width slot="start" aria-hidden="true" />
            <ion-label>
                <p class="item-heading">{{ 'core.courses.availablecourses' | translate}}</p>
            </ion-label>
        </ion-item>
    </ion-card>
</ng-template>

<ng-template #news>
    @if (newsForumModule) {
        <core-course-module class="core-sitehome-news" [module]="newsForumModule" />
    }
</ng-template>

<ng-template #categories>
    <ion-card>
        <ion-item button class="ion-text-wrap" (click)="openCourseCategories()">
            <ion-icon name="far-folder" slot="start" aria-hidden="true" />
            <ion-label>
                <p class="item-heading">{{ 'core.courses.categories' | translate}}</p>
            </ion-label>
        </ion-item>
    </ion-card>
</ng-template>

<ng-template #enrolledCourseList>
    <ion-card>
        <ion-item button class="ion-text-wrap" (click)="openMyCourses()">
            <ion-icon name="fas-graduation-cap" fixed-width slot="start" aria-hidden="true" />
            <ion-label>
                <p class="item-heading">{{ 'core.courses.mycourses' | translate}}</p>
            </ion-label>
        </ion-item>
    </ion-card>
</ng-template>

<ng-template #courseSearch>
    <ion-card>
        <ion-item button class="ion-text-wrap" (click)="openSearch()">
            <ion-icon name="fas-magnifying-glass" slot="start" aria-hidden="true" />
            <ion-label>
                <p class="item-heading">{{ 'core.courses.searchcourses' | translate}}</p>
            </ion-label>
        </ion-item>
    </ion-card>
</ng-template>
